.white-space {
    height: 30px;
}

.save-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(226, 224, 224);
    color: gray;
    position: fixed;
    top: 70px;
    right: 90px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 1px 3px silver;
    &:hover {
        background-color: silver;
        color: black
    }
}

.comment-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #337ab7;
    color: white;
    box-shadow: 0px 1px 3px silver;
    position: fixed;
    top: 70px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    &:hover {
        background-color: #2c6aa0;
    }
}

input {
    border: none;
    outline: none;
    border-bottom: solid silver 2px;
    padding: 5px;
    &:focus {
        border-bottom: solid green 2px;
    }
}

.questions {
    .question {
        margin-top: 15px;
        position: relative;
        .edit-btns {
            position: absolute;
            width: 100px;
            right: 10px;
            top: 10px;
            i {
                cursor: pointer;
            }
        }
        .title {
            input {
                width: 80%;
            }
        }
        .items {
            padding-left: 30px;
            input {
                width: 60%;
            }
            .item {
                span {
                    display: none;
                }
                &:hover {
                    span {
                        display: inline;
                    }
                }
                i {
                    cursor: pointer;
                }
            }
        }
        .add-new-item {
            padding-right: 20px;
            margin-top: 10px;
            i {
                cursor: pointer;
            }
        }
    }
}

.categorys {
    margin-top: 20px;
    .category {
        margin-right: 10px;
    }
}
