<div class="white-space"></div>
<span class="save-btn" (click)="post_questionnaire(0)">保存</span>
<span class="comment-btn" (click)="post_questionnaire(1)">审核</span>
<div class="col-md-12 new-form">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            标题:
            <input type="text" name="title" [(ngModel)]="questionnaire.title">
        </div>
        <div class="col-md-4 col-sm-12">
            截止日期:
            <input type="text" name="deadline" [(ngModel)]="questionnaire.deadline" placeholder="YYYY-m-d">
        </div>
        <div class="col-md-4 col-sm-12">
            数量:
            <input type="text" name="quantity" [(ngModel)]="questionnaire.quantity">
        </div>
    </div>
</div>
<div class="comment" *ngIf="questionnaire.state===2">
    <div class="title">审核历史</div>
    <div class="comment-history">
        <div *ngFor="let comment of questionnaire.comments;let index=index">
            {{index+1}}.&nbsp;{{comment.create_date}}
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment}}
            </div>
        </div>
        <div *ngIf="questionnaire.comments.length===0">
            暂无
        </div>
    </div>
</div>
<div class="row questions">
    <div class="col-md-12">
        <div *ngFor="let question of questionnaire.questions;let index=index">
            <div class="question" *ngIf="question.edit">
                <div class="edit-btns">
                    <i class="glyphicon glyphicon-ok" (click)="save_question(question,index)" title="保存"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-trash" (click)="delete_question(index)" title="删除"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-arrow-up" (click)="up_question(index)" title="上移"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-arrow-down" (click)="down_question(index)" title="下移"></i>
                </div>

                <div class="title">
                    {{index+1}}.&nbsp;&nbsp;
                    <span *ngIf="question.category==='radio'">单选</span>
                    <span *ngIf="question.category==='select'">多选</span>
                    &nbsp;&nbsp;
                    <input type="title" name="title_{{index}}" [(ngModel)]="question.title" placeholder="问题">
                </div>
                <div class="items">
                    <div class="item" *ngFor="let item of question.items;let itemindex=index">
                        {{itemindex+1}}.&nbsp;&nbsp;
                        <input type="text" name="item_{{index}}_{{itemindex}}" [(ngModel)]="item.content">
                        <span>
                            <i class="glyphicon glyphicon-arrow-up" (click)="up_question_item(question,itemindex)"></i>
                            &nbsp;
                            <i class="glyphicon glyphicon-arrow-down" (click)="down_question_item(question,itemindex)"></i>
                            &nbsp;
                            <i class="glyphicon glyphicon-trash" (click)="remove_question_item(question,itemindex)"></i>
                        </span>
                    </div>
                </div>
                <div class="add-new-item">
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <i class="glyphicon glyphicon-plus" (click)="add_question_item(question)"></i>
                </div>
            </div>
            <div class="question" *ngIf="!question.edit">
                <div class="edit-btns">
                    <i class="glyphicon glyphicon-pencil" (click)="edit_question(question)" title="保存"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-trash" (click)="delete_question(index)" title="删除"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-arrow-up" (click)="up_question(index)" title="上移"></i>
                    &nbsp;
                    <i class="glyphicon glyphicon-arrow-down" (click)="down_question(index)" title="下移"></i>
                </div>
                <div class="title">
                    {{index+1}}.&nbsp;&nbsp;
                    <span *ngIf="question.category==='radio'">单选</span>
                    <span *ngIf="question.category==='select'">多选</span>
                    &nbsp;&nbsp;{{question.title}}
                </div>
                <div class="items">
                    <div class="item" *ngFor="let item of question.items;let itemindex=index">
                        {{itemindex+1}}.&nbsp;&nbsp;{{item.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row categorys">
    <div class="col-md-12">
        <span class="category btn btn-primary btn-sm" *ngFor="let item of categorys" (click)="add_quesiton(item)">
            <i class="glyphicon glyphicon-plus"></i>{{item.name}}</span>
    </div>
</div>