.white-space {
  height: 30px;
}
.save-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #e2e0e0;
  color: gray;
  position: fixed;
  top: 70px;
  right: 90px;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0px 1px 3px silver;
}
.save-btn:hover {
  background-color: silver;
  color: black;
}
.comment-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #337ab7;
  color: white;
  box-shadow: 0px 1px 3px silver;
  position: fixed;
  top: 70px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}
.comment-btn:hover {
  background-color: #2c6aa0;
}
input {
  border: none;
  outline: none;
  border-bottom: solid silver 2px;
  padding: 5px;
}
input:focus {
  border-bottom: solid green 2px;
}
.questions .question {
  margin-top: 15px;
  position: relative;
}
.questions .question .edit-btns {
  position: absolute;
  width: 100px;
  right: 10px;
  top: 10px;
}
.questions .question .edit-btns i {
  cursor: pointer;
}
.questions .question .title input {
  width: 80%;
}
.questions .question .items {
  padding-left: 30px;
}
.questions .question .items input {
  width: 60%;
}
.questions .question .items .item span {
  display: none;
}
.questions .question .items .item:hover span {
  display: inline;
}
.questions .question .items .item i {
  cursor: pointer;
}
.questions .question .add-new-item {
  padding-right: 20px;
  margin-top: 10px;
}
.questions .question .add-new-item i {
  cursor: pointer;
}
.categorys {
  margin-top: 20px;
}
.categorys .category {
  margin-right: 10px;
}
.comment {
  margin-top: 60px;
}
.comment .title {
  font-size: 1.2em;
}
.comment .comment-history {
  margin-top: 5px;
  padding: 10px;
}
