.white-space {
  height: 30px;
}
.projects {
  position: relative;
}
.projects .utils {
  text-align: right;
}
.projects .utils .glyphicon {
  cursor: pointer;
}
.projects .utils .filters .filter {
  margin-right: 8px;
}
.projects .project {
  border: solid lightgray 1px;
  position: relative;
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 2px;
}
.projects .project:hover {
  box-shadow: 0 1px 2px lightgray;
  z-index: 1;
}
.projects .project .utils {
  text-align: right;
}
.projects .project .utils span {
  margin-right: 8px;
}
.projects .add-project {
  cursor: pointer;
}
.projects .add-project .new-form {
  margin-top: 10px;
}
.projects .add-project .new-form input {
  border: none;
  outline: none;
  border-bottom: solid silver 2px;
}
.projects .add-project .new-form input:focus {
  border-bottom: solid green 2px;
}
.projects .add-project .btns {
  margin-top: 10px;
}
.projects .add-project .btns div {
  text-align: center;
}
