<div class="white-space"></div>
<div class="projects">
    <div class="utils">
        <span class="filters">
            <span *ngFor="let filter of filters" class='filter btn-sm btn btn-default' [class.btn-primary]="filter.active" (click)="query(filter)">{{filter.name}}</span>
        </span>
        <span>总页数: {{pages}}</span>
        &nbsp;&nbsp;
        <span>
            每页数量
            <select name="" [(ngModel)]="query_limit" (change)="change_limit()">
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="35">35</option>
            </select>
        </span>
        &nbsp;&nbsp; 第 {{query_page}} 页 &nbsp;&nbsp;
        <i class="glyphicon glyphicon-chevron-left" title="上一页" (click)="pre_page()"></i>
        &nbsp;&nbsp;
        <i class="glyphicon glyphicon-chevron-right" title="下一页" (click)="next_page()"></i>
    </div>
    <div class="white-space"></div>
    <div class="project row" *ngFor="let item of questionnaires;let index=index">
        <div class="col-md-10 col-sm-10 col-xs-8">
            {{item.create_date}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.title}}
        </div>
        <div class="utils col-md-2 col-sm-2 col-xs-4">
            <span class="btn btn-xs btn-info" title="修改" *ngIf="item.state!=1 || item.state!=4" (click)="edit(index)">
                <i class="glyphicon glyphicon-pencil"></i>
            </span>
            <span class="btn btn-xs btn-danger" title="删除" *ngIf="item.state!=4" (click)="delete(index)">
                <i class="glyphicon glyphicon-trash"></i>
            </span>
            <span class="btn btn-xs btn-success" title="发布" *ngIf="item.state==3" (click)="publish(index)">
                <i class="glyphicon glyphicon-pushpin"></i>
            </span>
        </div>
    </div>
    <div class="project row" *ngIf="questionnaires.length==0 && query_state!=0">
        没有问卷
    </div>
    <div class="add-project project row" *ngIf="query_state==0">
        <div class="col-md-12" (click)="show_new_form=!show_new_form">添加问卷</div>
        <div class="col-md-12 new-form" *ngIf="show_new_form">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    标题:
                    <input type="text" name="title" [(ngModel)]="new_questionnaire.title">
                </div>
                <div class="col-md-4 col-sm-12">
                    截止日期:
                    <input type="text" name="deadline" [(ngModel)]="new_questionnaire.deadline" placeholder="YYYY-m-d">
                </div>
                <div class="col-md-4 col-sm-12">
                    数量:
                    <input type="text" name="quantity" [(ngModel)]="new_questionnaire.quantity">
                </div>
            </div>
            <div class="row btns">
                <div class="col-md-4 col-sm-3 col-xs-12">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <span class="btn btn-primary" (click)="put()">确认</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="btn btn-default" (click)="show_new_form=false">取消</span>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</div>
